@font-face {
  font-family: 'Carribeans_Treasure';
  src: url('../fonts/Carribeans_Treasure.eot');
  src: url('../fonts/Carribeans_Treasure.eot') format('embedded-opentype'),
  url('../fonts/Carribeans_Treasure.woff2') format('woff2'),
  url('../fonts/Carribeans_Treasure.woff') format('woff'),
  url('../fonts/Carribeans_Treasure.ttf') format('truetype'),
  url('../fonts/Carribeans_Treasure.svg#Carribeans_Treasure') format('svg');
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
  url('../fonts/OpenSansRegular.woff2') format('woff2'),
  url('../fonts/OpenSansRegular.woff') format('woff'),
  url('../fonts/OpenSansRegular.ttf') format('truetype'),
  url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSansSemiBold.eot');
  src: url('../fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
  url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
  url('../fonts/OpenSansSemiBold.woff') format('woff'),
  url('../fonts/OpenSansSemiBold.ttf') format('truetype'),
  url('../fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
  url('../fonts/OpenSansLight.woff2') format('woff2'),
  url('../fonts/OpenSansLight.woff') format('woff'),
  url('../fonts/OpenSansLight.ttf') format('truetype'),
  url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'BIGJOHN';
  src: url('../fonts/BIGJOHN.eot');
  src: url('../fonts/BIGJOHN.eot') format('embedded-opentype'),
  url('../fonts/BIGJOHN.woff2') format('woff2'),
  url('../fonts/BIGJOHN.woff') format('woff'),
  url('../fonts/BIGJOHN.ttf') format('truetype'),
  url('../fonts/BIGJOHN.svg#BIGJOHN') format('svg');
}
